* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to right, #dec9f7, #c1ecf8);
    display: flex;
    height: 100vh;
    color: #1e1e1e;
  }

  .sidebar {
    width: 220px;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    border-right: 1px solid #ccc;
  }

  .logo {
    width: -20%;
    height: -20%;
    margin: 0 auto 1.5rem;
    background: #eee;
    border-radius: 50%;
  }

  .sidebar button {
    background: #f1d7ff;
    border: none;
    padding: 0.75rem 1rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    margin-top:10% ;
  }

  .sidebar button.active {
    background: #1e1b24;
    color: #fff;
  }

  .sidebar .inicio {
    margin-top: auto;
    background: #1e1b24;
    color: #fff;
    font-weight: 700;
  }

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-bar h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }

  .search-bar {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    display: flex;
    align-items: center;
    margin-top: 2%;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
  }

  .search-bar input {
    margin-top: 5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
    height: 60%;
  }

  .search-bar button {
    margin-left: -3rem;
    background: none;
    border: none;
    cursor: pointer;

  }

  .main-content {
    flex: 1;
    border: 1px solid #aaa;
    border-radius: 15px;
    background: #fff;
  }

  .float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }